*{
    margin: 0;
}
@font-face {
    font-family: miFuente1;
    src: url(/fonts/Metropolis\ 1920.otf);
    font-weight: 800;
}
@font-face {
    font-family: miFuente2;
    src: url(/fonts/CaviarDreams_Bold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: miFuente3;
    src: url(/fonts/Josefin\ Sans\ Std\ Regular.ttf);
    font-weight: 300;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.menu ul li a{
    display: block; 
    text-decoration: none;
    color: #c5c7c8;
    font-size: 25px;
    letter-spacing: 5px;
}
.menu ul li a:hover{
    color: #c9ab81;
}
.prueba{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fuenteTitulo2, .fuenteTitulo, .fuenteTitulo3{
    font-family: 'metropolis-1920-regular', sans-serif;
    color: #c9ab81;
    letter-spacing: 10px;
}

.fuenteTitulo{
    font-size: 50px;
    font-family: "miFuente2";
}
.fuenteTitulo2, .fuenteTitulo3{font-family: "mifuente1";}
.fuenteTitulo2{font-size: 25px;}
.fuenteTitulo3{font-size: 15px;}

.fuenteTexto{
    font-family: 'josefin-sans-std-regular', sans-serif;
    color: #e8dad9;
    font-size: 15px;
    letter-spacing: 5px;
    font-family: "miFuente3";
}
.prueba{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}
.caja1{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0b1315;
}
.caja2{
    background-color: #0f1d22;
}
.caja3{
    width: 50%;
}
.caja4{
    width: 95%;
    height: 200px;
    padding-top: 100px;
}

.header{height: 100px;}

.fondoOscuro{
    background-color: #000000;
    color:#c5c5c5;
    padding: 10px;
}
.formulario{
    width: 80%;
    border: #c9ab81 solid 2px;
    background-color: transparent;
    margin-bottom: 15px;
    font-weight: 800;
}

.area{height: 150px;}

.boton{
    width: 100px;
    border: #c9ab81 solid 2px;
    color: #c9ab81;
}
.boton:hover{background-color: #c9ab81;}

.margen{
    margin-left: 15px;
}
ul{
    list-style: none;
    padding-top:10px;
}
ul .fuenteTexto{
    font-weight: 800;
}
iframe{
    width: 100%;
    margin-left: 12px;
    margin-top: 70px;
    filter:  sepia(100%) invert(80%);
}